body{
	 
    margin: 0;
    font-family: "Arial";
    /*background-color: gray;*/

}
.detail{
	width: 1200px;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 0;
}
.img, .descript{
	display: inline-block;
	vertical-align: top;
	font-size: initial;
	height: 400px;
}
.detail .img{
	width: 498px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.detail .img img{
	width: 100%;
	font-size: initial;
}
.descript{
	width: 698px;
}
.text{
	padding-left: 30px;
}

.containar{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}

/*
.pr-text{
	color: black;
	font-weight: normal;
}*/

.btn-card{
	height: 40px;
	background-color: #069;
	color: white;
	margin-left: 30px;
	border-radius: 10px;
}
.btn-card:hover{
	background-color: lightpink;
	color: black;
}
.big{
    width: 10px;
    margin: 10px;
    padding: 0px 10px 0px 10px;
}